<a href="https://colab.research.google.com/github/PabloEsteban0201/PySpark-in-Colab/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalación de Spark

## Método sencillo

In [2]:
# Install pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=cac3edfc5e9aabdc247678e5e0fd38af3f5e9c33b0447b1134a454721e6af429
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

## Iniciar sesión

In [4]:
# Import SparkSession
from pyspark.sql import SparkSession
from pyspark import SparkContext
# Create a Spark Session
spark = SparkSession.builder.master("local[*]").getOrCreate()
#Create context
sc = SparkContext.getOrCreate()
# Check Spark Session Information
spark

In [5]:
# Import a Spark function from library
from pyspark.sql.functions import col

# Ejercicio con PySpark

## Cargar dataset

In [23]:
# Load data from csv to a dataframe. 
# header=True means the first row is a header 
# sep=';' means the column are seperated using ''
df = spark.read.csv('crashes.csv', header=True, sep=",")
df.show(5)

+----------+----------+--------+--------+---------+----------+--------------------+--------------------+-----------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|CRASH DATE|CRASH TIME| BOROUGH|ZIP CODE| LATITUDE| LONGITUDE|            LOCATION|      ON STREET NAME|CROSS STREET NAME|     OFF STREET NAME|NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID|VEHICLE TYPE CODE 1|VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+----------+--------+--------+---------+----------+--------------------+--------------------+-----------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|09/11/2021|      2:39|    null|    null|     null|      null|                null|WHITESTONE EXPRES...|        20 AVENUE|                null|                        2|                       0|                            0|                           0|                        0|                       0|                         2|                        0|         Aggressive Drivin...|                  Unspecified|                         null|                         null|                         null|     4455765|              Sedan|              Sedan|               null|               null|               null|
|03/26/2022|     11:45|    null|    null|     null|      null|                null|QUEENSBORO BRIDGE...|             null|                null|                        1|                       0|                            0|                           0|                        0|                       0|                         1|                        0|            Pavement Slippery|                         null|                         null|                         null|                         null|     4513547|              Sedan|               null|               null|               null|               null|
|06/29/2022|      6:55|    null|    null|     null|      null|                null|  THROGS NECK BRIDGE|             null|                null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|         Following Too Clo...|                  Unspecified|                         null|                         null|                         null|     4541903|              Sedan|      Pick-up Truck|               null|               null|               null|
|09/11/2021|      9:35|BROOKLYN|   11208|40.667202|  -73.8665|(40.667202, -73.8...|                null|             null|1211      LORING ...|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                  Unspecified|                         null|                         null|                         null|                         null|     4456314|              Sedan|               null|               null|               null|               null|
|12/14/2021|      8:13|BROOKLYN|   11233|40.683304|-73.917274|(40.683304, -73.9...|     SARATOGA AVENUE|   DECATUR STREET|                null|                        0|                       0|                            0|                           0|                        0|                       0|                         0|                        0|                         null|                         null|                         null|                         null|                         null|     4486609|               null|               null|               null|               null|               null|
+----------+----------+--------+--------+---------+----------+--------------------+--------------------+-----------------+--------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 5 rows

Mostrar los 5 primeros registros

In [24]:
df.show(5, truncate=False)

+----------+----------+--------+--------+---------+----------+-----------------------+-----------------------+-----------------+-----------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|CRASH DATE|CRASH TIME|BOROUGH |ZIP CODE|LATITUDE |LONGITUDE |LOCATION               |ON STREET NAME         |CROSS STREET NAME|OFF STREET NAME        |NUMBER OF PERSONS INJURED|NUMBER OF PERSONS KILLED|NUMBER OF PEDESTRIANS INJURED|NUMBER OF PEDESTRIANS KILLED|NUMBER OF CYCLIST INJURED|NUMBER OF CYCLIST KILLED|NUMBER OF MOTORIST INJURED|NUMBER OF MOTORIST KILLED|CONTRIBUTING FACTOR VEHICLE 1|CONTRIBUTING FACTOR VEHICLE 2|CONTRIBUTING FACTOR VEHICLE 3|CONTRIBUTING FACTOR VEHICLE 4|CONTRIBUTING FACTOR VEHICLE 5|COLLISION_ID|VEHICLE TYPE CODE 1|VEHICLE TYPE CODE 2|VEHICLE TYPE CODE 3|VEHICLE TYPE CODE 4|VEHICLE TYPE CODE 5|
+----------+----------+--------+--------+---------+----------+-----------------------+-----------------------+-----------------+-----------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|09/11/2021|2:39      |null    |null    |null     |null      |null                   |WHITESTONE EXPRESSWAY  |20 AVENUE        |null                   |2                        |0                       |0                            |0                           |0                        |0                       |2                         |0                        |Aggressive Driving/Road Rage |Unspecified                  |null                         |null                         |null                         |4455765     |Sedan              |Sedan              |null               |null               |null               |
|03/26/2022|11:45     |null    |null    |null     |null      |null                   |QUEENSBORO BRIDGE UPPER|null             |null                   |1                        |0                       |0                            |0                           |0                        |0                       |1                         |0                        |Pavement Slippery            |null                         |null                         |null                         |null                         |4513547     |Sedan              |null               |null               |null               |null               |
|06/29/2022|6:55      |null    |null    |null     |null      |null                   |THROGS NECK BRIDGE     |null             |null                   |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Following Too Closely        |Unspecified                  |null                         |null                         |null                         |4541903     |Sedan              |Pick-up Truck      |null               |null               |null               |
|09/11/2021|9:35      |BROOKLYN|11208   |40.667202|-73.8665  |(40.667202, -73.8665)  |null                   |null             |1211      LORING AVENUE|0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |Unspecified                  |null                         |null                         |null                         |null                         |4456314     |Sedan              |null               |null               |null               |null               |
|12/14/2021|8:13      |BROOKLYN|11233   |40.683304|-73.917274|(40.683304, -73.917274)|SARATOGA AVENUE        |DECATUR STREET   |null                   |0                        |0                       |0                            |0                           |0                        |0                       |0                         |0                        |null                         |null                         |null                         |null                         |null                         |4486609     |null               |null               |null               |null               |null               |
+----------+----------+--------+--------+---------+----------+-----------------------+-----------------------+-----------------+-----------------------+-------------------------+------------------------+-----------------------------+----------------------------+-------------------------+------------------------+--------------------------+-------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------+-------------------+-------------------+-------------------+-------------------+-------------------+
only showing top 5 rows

Mostrar columnnas seleccionadas

In [25]:
df.columns

['CRASH DATE',
 'CRASH TIME',
 'BOROUGH',
 'ZIP CODE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
 'ON STREET NAME',
 'CROSS STREET NAME',
 'OFF STREET NAME',
 'NUMBER OF PERSONS INJURED',
 'NUMBER OF PERSONS KILLED',
 'NUMBER OF PEDESTRIANS INJURED',
 'NUMBER OF PEDESTRIANS KILLED',
 'NUMBER OF CYCLIST INJURED',
 'NUMBER OF CYCLIST KILLED',
 'NUMBER OF MOTORIST INJURED',
 'NUMBER OF MOTORIST KILLED',
 'CONTRIBUTING FACTOR VEHICLE 1',
 'CONTRIBUTING FACTOR VEHICLE 2',
 'CONTRIBUTING FACTOR VEHICLE 3',
 'CONTRIBUTING FACTOR VEHICLE 4',
 'CONTRIBUTING FACTOR VEHICLE 5',
 'COLLISION_ID',
 'VEHICLE TYPE CODE 1',
 'VEHICLE TYPE CODE 2',
 'VEHICLE TYPE CODE 3',
 'VEHICLE TYPE CODE 4',
 'VEHICLE TYPE CODE 5']

## Seleccionar columnas

In [31]:
# Column name is case insensitive here
print(df.BOROUGH)
print("*"*20)
#This line show the data column
df.select(df.BOROUGH).show(truncate=False)

Column<'BOROUGH'>
********************
+---------+
|BOROUGH  |
+---------+
|null     |
|null     |
|null     |
|BROOKLYN |
|BROOKLYN |
|null     |
|null     |
|BRONX    |
|BROOKLYN |
|MANHATTAN|
|null     |
|QUEENS   |
|null     |
|null     |
|QUEENS   |
|BROOKLYN |
|BROOKLYN |
|null     |
|BRONX    |
|null     |
+---------+
only showing top 20 rows

In [27]:
# Column name is case insensitive in this usage
print(df['CRASH DATE'],df['BOROUGH'],df['NUMBER OF PERSONS INJURED'],df['VEHICLE TYPE CODE 1'])
print("*"*20)
df.select(df['CRASH DATE'],df['BOROUGH'],df['NUMBER OF PERSONS INJURED'],df['VEHICLE TYPE CODE 1']).show(truncate=False)

Column<'CRASH DATE'> Column<'BOROUGH'> Column<'NUMBER OF PERSONS INJURED'> Column<'VEHICLE TYPE CODE 1'>
********************
+----------+---------+-------------------------+-----------------------------------+
|CRASH DATE|BOROUGH  |NUMBER OF PERSONS INJURED|VEHICLE TYPE CODE 1                |
+----------+---------+-------------------------+-----------------------------------+
|09/11/2021|null     |2                        |Sedan                              |
|03/26/2022|null     |1                        |Sedan                              |
|06/29/2022|null     |0                        |Sedan                              |
|09/11/2021|BROOKLYN |0                        |Sedan                              |
|12/14/2021|BROOKLYN |0                        |null                               |
|04/14/2021|null     |0                        |Dump                               |
|12/14/2021|null     |0                        |Sedan                              |
|12/14/2021|BRONX    |2                        |Sedan                              |
|12/14/2021|BROOKLYN |0                        |Sedan                              |
|12/14/2021|MANHATTAN|0                        |Sedan                              |
|12/13/2021|null     |0                        |Station Wagon/Sport Utility Vehicle|
|12/14/2021|QUEENS   |0                        |Sedan                              |
|12/14/2021|null     |0                        |Station Wagon/Sport Utility Vehicle|
|12/14/2021|null     |0                        |Sedan                              |
|12/14/2021|QUEENS   |2                        |Sedan                              |
|12/14/2021|BROOKLYN |0                        |Tanker                             |
|12/14/2021|BROOKLYN |4                        |Sedan                              |
|12/14/2021|null     |3                        |Station Wagon/Sport Utility Vehicle|
|12/11/2021|BRONX    |1                        |Station Wagon/Sport Utility Vehicle|
|12/14/2021|null     |0                        |Station Wagon/Sport Utility Vehicle|
+----------+---------+-------------------------+-----------------------------------+
only showing top 20 rows

## Filtrado por filas

In [42]:
# Filtering rows in PySpark
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count)) 
BRONX_filtered_count = df.filter(col('BOROUGH')=='BRONX').count()
print("BRONX FILTERED RECORD COUNT: " + str(BRONX_filtered_count))
df.select(df['CRASH DATE'],df['BOROUGH'],df['NUMBER OF PERSONS INJURED'],df['VEHICLE TYPE CODE 1']).filter(col('BOROUGH')=='BRONX').show(truncate=False)
#df.select(df['CRASH DATE'],df['BOROUGH'],df['NUMBER OF PERSONS INJURED'],df['VEHICLE TYPE CODE 1']).show(truncate=False)

TOTAL RECORD COUNT: 1987322
BRONX FILTERED RECORD COUNT: 201885
+----------+-------+-------------------------+-----------------------------------+
|CRASH DATE|BOROUGH|NUMBER OF PERSONS INJURED|VEHICLE TYPE CODE 1                |
+----------+-------+-------------------------+-----------------------------------+
|12/14/2021|BRONX  |2                        |Sedan                              |
|12/11/2021|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|12/14/2021|BRONX  |0                        |Taxi                               |
|04/24/2022|BRONX  |0                        |Taxi                               |
|04/24/2022|BRONX  |0                        |Sedan                              |
|04/24/2022|BRONX  |0                        |Sedan                              |
|12/10/2021|BRONX  |0                        |Station Wagon/Sport Utility Vehicle|
|03/26/2022|BRONX  |2                        |Station Wagon/Sport Utility Vehicle|
|03/26/2022|BRONX  |0                        |Station Wagon/Sport Utility Vehicle|
|03/26/2022|BRONX  |2                        |Station Wagon/Sport Utility Vehicle|
|03/24/2022|BRONX  |1                        |Sedan                              |
|03/26/2022|BRONX  |1                        |Sedan                              |
|03/26/2022|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|03/26/2022|BRONX  |0                        |Sedan                              |
|03/25/2022|BRONX  |0                        |Station Wagon/Sport Utility Vehicle|
|03/25/2022|BRONX  |0                        |Station Wagon/Sport Utility Vehicle|
|03/26/2022|BRONX  |0                        |Station Wagon/Sport Utility Vehicle|
|03/25/2022|BRONX  |1                        |Sedan                              |
|03/22/2022|BRONX  |1                        |Sedan                              |
|03/26/2022|BRONX  |1                        |Box Truck                          |
+----------+-------+-------------------------+-----------------------------------+
only showing top 20 rows

### Filtrar con más condiciones

In [45]:
# Filtering rows in PySpark based on Multiple conditions
total_count = df.count()
print("TOTAL RECORD COUNT: " + str(total_count))
BRONX_filtered_count = df.filter((col('BOROUGH')=='BRONX') & 
                                 (col('NUMBER OF PERSONS INJURED')>0)).count() # Two conditions added here

print("BRONX FILTERED RECORD COUNT: " + str(BRONX_filtered_count))
df.select(df['CRASH DATE'],df['BOROUGH'],df['NUMBER OF PERSONS INJURED'],df['VEHICLE TYPE CODE 1']
          ).filter((col('BOROUGH')=='BRONX') & (col('NUMBER OF PERSONS INJURED')>0)).show(truncate=False)

TOTAL RECORD COUNT: 1987322
BRONX FILTERED RECORD COUNT: 46639
+----------+-------+-------------------------+-----------------------------------+
|CRASH DATE|BOROUGH|NUMBER OF PERSONS INJURED|VEHICLE TYPE CODE 1                |
+----------+-------+-------------------------+-----------------------------------+
|12/14/2021|BRONX  |2                        |Sedan                              |
|12/11/2021|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|03/26/2022|BRONX  |2                        |Station Wagon/Sport Utility Vehicle|
|03/26/2022|BRONX  |2                        |Station Wagon/Sport Utility Vehicle|
|03/24/2022|BRONX  |1                        |Sedan                              |
|03/26/2022|BRONX  |1                        |Sedan                              |
|03/26/2022|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|03/25/2022|BRONX  |1                        |Sedan                              |
|03/22/2022|BRONX  |1                        |Sedan                              |
|03/26/2022|BRONX  |1                        |Box Truck                          |
|12/10/2021|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|09/11/2021|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|07/08/2021|BRONX  |1                        |Sedan                              |
|07/07/2021|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|09/11/2021|BRONX  |2                        |Station Wagon/Sport Utility Vehicle|
|09/10/2021|BRONX  |1                        |Station Wagon/Sport Utility Vehicle|
|09/11/2021|BRONX  |1                        |Sedan                              |
|07/09/2021|BRONX  |1                        |E-Bike                             |
|04/16/2021|BRONX  |2                        |Station Wagon/Sport Utility Vehicle|
|04/15/2021|BRONX  |1                        |null                               |
+----------+-------+-------------------------+-----------------------------------+
only showing top 20 rows

## RDD

Primero le realizamos una transformnación a los datos

In [46]:
crash = spark.sparkContext.textFile('crashes.csv')
print(crash.first())
crash_header = crash.first()
crash_rest = crash.filter(lambda line: line!=crash_header)
print(crash_rest.first())

CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
09/11/2021,2:39,,,,,,WHITESTONE EXPRESSWAY,20 AVENUE,,2,0,0,0,0,0,2,0,Aggressive Driving/Road Rage,Unspecified,,,,4455765,Sedan,Sedan,,,

Aplicamos la función Map

In [47]:
#Count how many crashes are there in our csv
crash_rest.map(lambda line: line.split(",")).count()

1987322

## Conteo de palabras

In [8]:
words = sc.textFile("words.txt").flatMap(lambda line: line.split(" "))
a = words.map(lambda word: (word,1))
b = a.reduceByKey(lambda a,b: a+b)
b.collect()

[('este', 1),
 ('ejemplo', 1),
 ('conteo', 1),
 ('con', 1),
 ('PySpark', 1),
 ('Google', 1),
 ('Colab', 1),
 ('Hola', 1),
 ('es', 1),
 ('un', 2),
 ('sencillo', 1),
 ('de', 2),
 ('palabras', 1),
 ('ejecutandose', 1),
 ('desde', 1)]

## Creación de Dataframes con PySpark

Dataframe vacío

In [7]:
from pyspark.sql.types import StructType
sc = spark.sparkContext
#Create empty df
schema = StructType([])
empty = spark.createDataFrame(sc.emptyRDD(), schema)
empty.show()

++
||
++
++

Dataframe con header

In [13]:
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import *
#Create empty df with header
schema_header = StructType([StructField("name", StringType(), True)])
empty_with_header = spark.createDataFrame(sc.emptyRDD(), schema_header)
empty_with_header.show()

+----+
|name|
+----+
+----+

Dataframe con header y datos

In [49]:
from pyspark.sql import Row
mylist = [
  {"name":'Alice',"age":13},
  {"name":'Jacob',"age":24},
  {"name":'Betty',"age":135},
]
spark.createDataFrame(Row(**x) for x in mylist).show()

+-----+---+
| name|age|
+-----+---+
|Alice| 13|
|Jacob| 24|
|Betty|135|
+-----+---+

In [51]:
# You can achieve the same using this - note that we are using spark context here, not a spark session
from pyspark.sql import Row
df = sc.parallelize([
        Row(name='Alice', age=13),
        Row(name='Jacob', age=24),
        Row(name='Betty', age=135)]).toDF()
df.show()

+-----+---+
| name|age|
+-----+---+
|Alice| 13|
|Jacob| 24|
|Betty|135|
+-----+---+

## Eliminar duplicados

In [53]:
from pyspark.sql import Row
from pyspark.sql import Row
mylist = [
  {"name":'Alice',"age":5,"height":80},
  {"name":'Jacob',"age":24,"height":80},
  {"name":'Alice',"age":5,"height":80}
]
df.show()
df = spark.createDataFrame(Row(**x) for x in mylist)
df.dropDuplicates().show()

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice|  5|    80|
|Jacob| 24|    80|
|Alice|  5|    80|
+-----+---+------+

+-----+---+------+
| name|age|height|
+-----+---+------+
|Alice|  5|    80|
|Jacob| 24|    80|
+-----+---+------+

# Regresion lineal con PySpark

In [14]:
# Data processing
import pandas as pd
# Create synthetic dataset
from sklearn.datasets import make_regression
# Modeling
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline, PipelineModel

In [18]:
# Create a synthetic dataset
X, y = make_regression(n_samples=1000000, n_features=2, noise=0.3, bias=2, random_state=42)
# Convert the data from numpy array to a pandas dataframe
pdf = pd.DataFrame({'feature1': X[:, 0], 'feature2': X[:, 1], 'dependent_variable': y})
# Convert pandas dataframe to spark dataframe
sdf = spark.createDataFrame(pdf)
# Check data summary statistics
display(sdf.summary())
sdf.show()

DataFrame[summary: string, feature1: string, feature2: string, dependent_variable: string]

+--------------------+--------------------+-------------------+
|            feature1|            feature2| dependent_variable|
+--------------------+--------------------+-------------------+
| 0.31349827976296524| -0.4411957507627029| 12.470413498408014|
|   0.781497239460632|    2.45987198502938| 152.77210148340862|
|  0.7601274267540831| -0.5510610924387531| 45.344113211965855|
|-0.21221839413561966|  0.5275359481598829| 2.3339738754842703|
|-0.03457131269667...| 0.23902564393378373|  7.626500160552004|
|  2.1906317841952183|  0.8716992544130852|   212.828525191623|
|  0.5492397308056503|  0.5147068040703997|  65.23811258993135|
|  0.3512513653430116|  0.3394055604654232|  42.87462452959514|
| -0.8309028531003436| -1.7560542740067022|-127.62414790233171|
| -1.6378610962962872| -1.0264768000809217|-168.46527044129087|
| -0.6000312183862408| 0.47952597212710035| -30.55561037299339|
|   1.308958709749387| -3.1798843260532266|-1.7188245428445759|
|  0.3803516062985337| -0.1939623064496469|  26.46302682223248|
|  0.9764538875573391|  -0.613409006437699| 60.527405305163605|
|-0.00742376244515...| 0.43586333345955725| 16.807880748631074|
|  -1.112142455649601|  0.2157765510741247| -81.91208545063307|
|  0.7313590979439423|  0.2165189229120299|  70.07885079654123|
| -0.5858034459225464|  1.3428303784382716| 0.5533918116069881|
| -0.6401765674314682|    -1.4581426178296|-101.47287650518808|
|  0.9998804926006428|-0.11695174931920921|   80.2843506869104|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [19]:
# Train test split
trainDF, testDF = sdf.randomSplit([.8, .2], seed=42)
# Print the number of records
print(f'There are {trainDF.cache().count()} records in the training dataset.')
print(f'There are {testDF.cache().count()} records in the testing dataset.')

There are 799847 records in the training dataset.
There are 200153 records in the testing dataset.

In [20]:
# Linear regression expect a vector input
vecAssembler = VectorAssembler(inputCols=['feature1', 'feature2'], outputCol="features")
vecTrainDF = vecAssembler.transform(trainDF)
# Take a look at the data
display(vecTrainDF)

DataFrame[feature1: double, feature2: double, dependent_variable: double, features: vector]

In [21]:
# Create linear regression
lr = LinearRegression(featuresCol="features", labelCol="dependent_variable")
# Fit the linear regresssion model
lrModel = lr.fit(vecTrainDF)
# Print model intercept and coefficients
print(f'The intercept of the model is {lrModel.intercept:.2f} and the coefficients of the model are {lrModel.coefficients[0]:.2f} and {lrModel.coefficients[1]:.2f}')

The intercept of the model is 2.00 and the coefficients of the model are 82.09 and 35.03

In [24]:
# Create pipeline
stages = [vecAssembler, lr]
pipeline = Pipeline(stages=stages)
# Fit the pipeline model
pipelineModel = pipeline.fit(trainDF)

In [27]:
# Make predictions on testing dataset
predDF = pipelineModel.transform(testDF)
# Take a look at the output
display(predDF.select("features", "dependent_variable", "prediction"))
predDF.show()

DataFrame[features: vector, dependent_variable: double, prediction: double]

+-------------------+-------------------+-------------------+--------------------+-------------------+
|           feature1|           feature2| dependent_variable|            features|         prediction|
+-------------------+-------------------+-------------------+--------------------+-------------------+
| -4.435060898724634| 0.7481186722693874| -336.0190978167691|[-4.4350608987246...| -335.8588418485125|
| -4.164294602643378| -1.267004372717662|-384.60376689707607|[-4.1642946026433...|-384.22280039338983|
| -4.069621097018043|-1.8157531141967662|  -395.349694083717|[-4.0696210970180...|-395.67414212284734|
|-3.9702095177991246| 0.5972499082314706| -303.3352086015304|[-3.9702095177991...|  -302.985061955403|
|-3.8761221469182705|0.08452030705048824| -313.0729547580186|[-3.8761221469182...| -313.2227518754369|
| -3.827165377856318|  2.382839964691455|-228.45123989242504|[-3.8271653778563...|-228.69282194554083|
| -3.801885955729643|-2.4504395216039385| -396.3047194004824|[-3.8018859557296...|-395.92961276680876|
|-3.7519232892047705|  1.014927715371012| -270.5955448087131|[-3.7519232892047...| -270.4349145430952|
|-3.7175878210502082|-0.7353760646712015| -328.7109369256128|[-3.7175878210502...|-328.93030054549524|
|-3.7147691751412943|-0.0262469577051269| -303.4606744767466|[-3.7147691751412...|  -303.857814990585|
| -3.712769321358994|-0.6060087722967049| -323.8154130568457|[-3.7127693213589...| -324.0029651024166|
|-3.7086532458197814|0.25114543930341027|-293.45642693958035|[-3.7086532458197...|-293.63859068923415|
|-3.6992882193506382|0.04672448369755437| -299.9831472196294|[-3.6992882193506...| -300.0307902387027|
|-3.6770433667294666|-0.5767285683993942|-320.26206192456345|[-3.6770433667294...| -320.0445897796862|
| -3.647885436587112|-0.8638384079529803| -326.9351610492999|[-3.6478854365871...| -327.7086553135856|
|-3.6144658866221846|-0.6552576364338668|-317.69980249712273|[-3.6144658866221...|-317.65862975844396|
| -3.586764922735262| 0.1157207420423196| -288.1959312616666|[-3.5867649227352...| -288.3769937862866|
|-3.5279813270536002|-0.8595543094985636|-317.63240637592855|[-3.5279813270536...| -317.7158775014048|
|-3.4956003508988234|-0.8063532115596506|-313.49772453991983|[-3.4956003508988...|  -313.194125637791|
| -3.488813052210172| 0.9256931838538845|-251.96892726706082|[-3.4888130522101...|-251.96261297965515|
+-------------------+-------------------+-------------------+--------------------+-------------------+
only showing top 20 rows

In [28]:
# Create regression evaluator
regressionEvaluator = RegressionEvaluator(predictionCol="prediction", labelCol="dependent_variable", metricName="rmse")
# RMSE
rmse = regressionEvaluator.evaluate(predDF)
print(f"The RMSE for the linear regression model is {rmse:0.2f}")
# MSE
mse = regressionEvaluator.setMetricName("mse").evaluate(predDF)
print(f"The MSE for the linear regression model is {mse:0.2f}")
# R2
r2 = regressionEvaluator.setMetricName("r2").evaluate(predDF)
print(f"The R2 for the linear regression model is {r2:0.2f}")
# MAE
mae = regressionEvaluator.setMetricName("mae").evaluate(predDF)
print(f"The MAE for the linear regression model is {mae:0.2f}")

The RMSE for the linear regression model is 0.30
The MSE for the linear regression model is 0.09
The R2 for the linear regression model is 1.00
The MAE for the linear regression model is 0.24